body {
    background-color: azure;
    color: olive;
    font-family: 'arial black', 'arial';
}

body>p {
    font-family: 'calibri', 'arial';
}

footer {
    margin-top: 200px;
    width: 100%;
    height: 120px;
}